@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
/* @import "element-plus/dist/index.css"; */

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

:root {
    --el-color-primary: #328e6e !important;
    --el-color-primary-light-3: #6ee7b7 !important;
    --el-color-primary-light-5: #a7f3d0 !important;
    --el-color-primary-light-7: #d1fae5 !important;
    --el-color-primary-light-8: #ecfdf5 !important;
    --el-color-primary-light-9: #f0fdf4 !important;
    --el-color-primary-dark-2: #059669 !important;

    --primary-green: #328e6e;
    --green-hover: #29755a;
    --secondary-gray: #374151;
    --accent-sky-blue: #3b82f6;
    --bg-light-gray: #f9fafb;
    --text-charcoal: #111827;
}

body {
    background-color: rgb(245, 245, 245);
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: var(--text-charcoal);
}

label {
    font-size: 0.8rem !important;
}

small {
    font-size: 0.7rem;
}

.el-input__wrapper.is-focus {
    box-shadow: 0 0 0 1px var(--primary-green) inset !important;
}

.el-form-item__error {
    font-size: 0.7rem;
    color: red;
    margin-top: 4px;
}

.el-form-item__label {
    margin-bottom: 2px !important;
}
